body{
  background-color: rgb(149, 190, 232);
}

.cont1{
  border: 2px solid;
  margin: 30px 210px;
  width: 600px;
  height: 365px;
  border-radius: 10px;
  background-color: aliceblue;
  border-color:#3c4f62;
}

h1{
  font-family: Luckiest Guy;
  margin-top: 0px;
  font-size: 50px;
  text-align: center;
  border: 2px solid;
  border-color:#3c4f62;
  background-color:#3c4f62;
}

.ing_usu{
  text-align: center;
  margin-left: 25%;
  font-size: 25px;
  border: 2px solid;
  border-radius: 10px;
  border-color:black;
  display: block;
}

.ing_usu:hover{
  background-color:#c5cfd8;
  color: rgb(118,118,118);
  border-color:black;
}

.descripcion{
  text-align: justify;
  padding: 2px 20px;
  font-family: Concert One;
  font-size:20px;
  color: rgb(80, 82, 82);
}

.boton{
  background-color:#e1dfa2;
  color: rgb(110 90 76);
  display: block;
  font-family: "Unkempt", cursive;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
  margin-left: 450px;
}

.boton:hover{
  background-color: #f0c845;
  color: rgb(190, 94, 4);
}

